:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
}
.content {
  text-align: center;
  height: max-content;
  min-width: min-content;
}
.entry-level-text {
  height: max-content;
  min-width: min-content;
}
.row-layout {
  display: flex;
}
.entry-level-tab-content {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 20px;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.drone-category-tabs {
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.entry-level-tab {
  min-width: 100%;
}
