<h3 class="content">
  Which Drone is Right for Me?
</h3>
<p class="content">
  Discover the perfect DJI drone for your needs based on your skill level and desired experience.
</p>
<igx-tabs tabAlignment="justify" class="drone-category-tabs">
  <igx-tab-item [selected]="true" class="entry-level-tab">
    <igx-tab-header>
      <span igxTabHeaderLabel>Entry-Level</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout entry-level-tab-content">
      <p class="entry-level-text">
        Ideal for beginners and casual flyers. Easy to learn and operate, great for capturing basic aerial footage. (e.g., DJI Mini series)
      </p>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="entry-level-tab">
    <igx-tab-header>
      <span igxTabHeaderLabel>Advanced</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout entry-level-tab-content">
      <p class="entry-level-text">
        For hobbyists seeking more features and better camera quality. Offers enhanced flight modes and longer flight times. (e.g., DJI Air series)
      </p>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="entry-level-tab">
    <igx-tab-header>
      <span igxTabHeaderLabel>Flagship</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout entry-level-tab-content">
      <p class="entry-level-text">
        Top-tier performance and professional-grade cameras. Designed for serious content creators and commercial use. (e.g., DJI Mavic series)
      </p>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="entry-level-tab">
    <igx-tab-header>
      <span igxTabHeaderLabel>Immersive</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout entry-level-tab-content">
      <p class="entry-level-text">
        Experience flight from a first-person perspective. Designed for exhilarating and dynamic flight. (e.g., DJI FPV)
      </p>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="entry-level-tab">
    <igx-tab-header>
      <span igxTabHeaderLabel>Cinematic</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout entry-level-tab-content">
      <p class="entry-level-text">
        Engineered for professional film production, delivering unparalleled image quality and flight stability. (e.g., DJI Inspire series)
      </p>
    </igx-tab-content>
  </igx-tab-item>
</igx-tabs>
