:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
}
.row-layout {
  display: flex;
}
.login-form-row {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 32px;
  min-width: min-content;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.login-form-column {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  min-width: 320px;
  min-height: 50px;
  max-width: 560px;
  flex-grow: 1;
  flex-basis: 0;
}
.login-input-column {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.remember-me-forgot-row {
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.create-account-row {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.content {
  height: max-content;
  min-width: min-content;
}
.forgot-password-link {
  color: var(--ig-info-500);
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.create-account-link {
  color: var(--ig-info-500);
  cursor: pointer;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.login-email-input {
  height: max-content;
  min-width: min-content;
}
.remember-me-checkbox {
  width: max-content;
  height: max-content;
}
.sign-in-button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
