:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
}
.row-layout {
  display: flex;
}
.hero-section {
  background-color: transparent;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 400px;
  flex-shrink: 0;
}
.hero-section-content {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  max-width: 1400px;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.hero-content-column {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  min-width: 320px;
  flex-grow: 1;
  flex-basis: 0;
}
.hero-actions-column {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.hero-buttons-row {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.features-section {
  background-color: transparent;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.features-section-content {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  max-width: 1400px;
  flex-grow: 1;
  flex-basis: 0;
}
.features-title-column {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.feature-cards-row {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.purchase-drones-card {
  --header-text-color: var(--ig-card-header-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --subtitle-text-color: var(--ig-card-subtitle-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --content-text-color: var(--ig-card-content-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --actions-text-color: var(--ig-card-actions-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --background: var(--ig-surface-200);
  height: max-content;
  min-width: 240px;
  flex-grow: 1;
  flex-basis: 0;
}
.purchase-drones-card-content {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.faqsection {
  background-color: var(--ig-surface-500);
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.faqaccordion {
  overflow-y: auto;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
}
.footer-section {
  background-color: var(--ig-gray-100);
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.footer-content-row {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 32px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.footer-inner-content-row {
  background-color: transparent;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  min-width: 320px;
  max-width: 1200px;
  flex-grow: 1;
  flex-basis: 0;
}
.company-info-column {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 240px;
  flex-grow: 1;
  flex-basis: 0;
}
.company-logo-row {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.social-media-row {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 4px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.email-row {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  width: max-content;
  height: max-content;
  flex-shrink: 0;
}
.copyright-row {
  border-color: var(--ig-gray-400);
  border-width: 1px 0px 0px;
  border-style: solid;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 0;
  position: relative;
  padding: 0 32px;
  min-height: 64px;
  flex-grow: 1;
  flex-shrink: 0;
}
.content {
  height: max-content;
  min-width: min-content;
}
.hero-engage-text {
  color: var(--ig-gray-800);
  height: max-content;
  min-width: min-content;
}
.hero-image {
  object-fit: cover;
  border-radius: 8px;
  min-width: 200px;
  min-height: 0;
  max-height: 350px;
  flex-grow: 1;
  flex-basis: 0;
}
.content_2 {
  text-align: center;
  height: max-content;
  min-width: min-content;
}
.purchase-drones-icon {
  --ig-size: var(--ig-size-medium);
  --igx-avatar-background: var(--ig-secondary-100);
}
.icon {
  color: var(--ig-secondary-100-contrast);
}
.company-icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--ig-gray-600);
}
.company-name {
  color: var(--ig-gray-900);
  height: max-content;
  min-width: min-content;
}
.content_1 {
  color: var(--ig-gray-700);
  height: max-content;
  min-width: min-content;
}
.mail-icon {
  --size: 18px;
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: var(--ig-gray-600);
}
.customer-support-link {
  color: var(--ig-gray-700);
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.purchase-drones-icon::part(base) {
  --igx-avatar-color: var(--ig-secondary-100-contrast);
}
.body-content {
  min-width: 50px;
  min-height: 50px;
}
.actions-content {
  min-width: 50px;
  min-height: 40px;
}
.download-ios-button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  flex-shrink: 0;
}
