<div class="row-layout hero-section">
  <div class="row-layout hero-section-content">
    <div class="column-layout hero-content-column">
      <h2 class="content">
        Your Ultimate DJI Drone Destination
      </h2>
      <h6 class="content">
        Explore, Compare, and Master Your Flight Experience
      </h6>
      <div class="column-layout hero-actions-column">
        <div class="row-layout hero-buttons-row">
          <button igxButton="contained" type="button" class="download-ios-button">
            Download iOS
          </button>
          <button igxButton="outlined" type="button" class="download-ios-button">
            Download Android
          </button>
        </div>
        <p class="ig-typography__body-2 hero-engage-text">
          Start your aerial journey today!
        </p>
      </div>
    </div>
    <img src="/assets/Auto%20generated%20image%20for%20d1ade756-e32a-45eb-8b9d-64c661b65a70-79a36421-02d8-4d82-a169-a2f7883f9781.png" alt="" class="hero-image" />
  </div>
</div>
<div class="row-layout features-section">
  <div class="column-layout features-section-content">
    <div class="column-layout features-title-column">
      <h4 class="content_2">
        Our Services
      </h4>
      <h6 class="content_2">
        Everything you need for your DJI drone experience.
      </h6>
    </div>
    <div class="row-layout feature-cards-row">
      <igx-card class="purchase-drones-card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout purchase-drones-card-content">
            <igx-avatar shape="circle" class="purchase-drones-icon">
              <igx-icon class="icon">
                shopping_cart
              </igx-icon>
            </igx-avatar>
            <h6 class="content">
              Purchase Drones
            </h6>
            <p class="content">
              Discover and buy the latest DJI drone models for every need.
            </p>
          </div>
        </igx-card-content>
        <igx-card-actions class="actions-content">
          <ng-container igxStart></ng-container>
        </igx-card-actions>
      </igx-card>
      <igx-card class="purchase-drones-card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout purchase-drones-card-content">
            <igx-avatar shape="circle" class="purchase-drones-icon">
              <igx-icon class="icon">
                build
              </igx-icon>
            </igx-avatar>
            <h6 class="content">
              Maintenance Services
            </h6>
            <p class="content">
              Professional repair and maintenance for your DJI Mini 3, DJI Flip, and DJI Neo.
            </p>
          </div>
        </igx-card-content>
        <igx-card-actions class="actions-content">
          <ng-container igxStart></ng-container>
        </igx-card-actions>
      </igx-card>
      <igx-card class="purchase-drones-card">
        <igx-card-header>
          <h3 igxCardHeaderTitle>
        </h3>
          <h5 igxCardHeaderSubtitle>
        </h5>
        </igx-card-header>
        <igx-card-content class="body-content">
          <div class="column-layout purchase-drones-card-content">
            <igx-avatar shape="circle" class="purchase-drones-icon">
              <igx-icon class="icon">
                help_outline
              </igx-icon>
            </igx-avatar>
            <h6 class="content">
              Find Your Drone
            </h6>
            <p class="content">
              Navigate our guides to select the perfect drone for your flight adventures.
            </p>
          </div>
        </igx-card-content>
        <igx-card-actions class="actions-content">
          <ng-container igxStart></ng-container>
        </igx-card-actions>
      </igx-card>
    </div>
  </div>
</div>
<div class="row-layout faqsection">
  <div class="column-layout features-section-content">
    <div class="column-layout features-title-column">
      <h4 class="content_2">
        Frequently Asked Questions
      </h4>
      <h6 class="content_2">
        Find answers to common questions about our drones and services.
      </h6>
    </div>
    <igx-accordion [singleBranchExpand]="true" class="faqaccordion">
      <igx-expansion-panel>
        <igx-expansion-panel-body>
          <p class="ig-typography__body-2 content">
            We offer a wide range of DJI drones, including entry-level, advanced, flagship, immersive, and cinematic variants.
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="right">
          <igx-expansion-panel-title>What types of drones do you sell?</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
      <igx-expansion-panel>
        <igx-expansion-panel-body>
          <p class="ig-typography__body-2 content">
            We offer maintenance services for DJI Mini 3, DJI Flip, and DJI Neo models.
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="right">
          <igx-expansion-panel-title>Which DJI models do you provide maintenance for?</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
      <igx-expansion-panel>
        <igx-expansion-panel-body>
          <p class="ig-typography__body-2 content">
            Our "Which drone is right for me?" page helps you explore different categories, and our comparison tool allows you to find the best match based on specifications.
          </p>
        </igx-expansion-panel-body>
        <igx-expansion-panel-header iconPosition="right">
          <igx-expansion-panel-title>How can I choose the right drone?</igx-expansion-panel-title>
        </igx-expansion-panel-header>
      </igx-expansion-panel>
    </igx-accordion>
  </div>
</div>
<div class="column-layout footer-section">
  <div class="row-layout footer-content-row">
    <div class="row-layout footer-inner-content-row">
      <div class="column-layout company-info-column">
        <div class="row-layout company-logo-row">
          <igx-icon class="company-icon">
            airplanemode_active
          </igx-icon>
          <p class="ig-typography__subtitle-2 company-name">
            DJI Drones
          </p>
        </div>
        <p class="ig-typography__body-2 content_1">
          DJI Drones: Your Sky, Our Passion.
        </p>
        <div class="row-layout social-media-row">
          <igx-icon family="imx-icon" name="imx-twitter" class="company-icon"></igx-icon>
          <igx-icon family="imx-icon" name="imx-facebook" class="company-icon"></igx-icon>
          <igx-icon family="imx-icon" name="imx-instagram" class="company-icon"></igx-icon>
        </div>
      </div>
      <div class="column-layout company-info-column">
        <p class="ig-typography__subtitle-2 content">
          Drones
        </p>
        <a class="ig-typography__body-2 content_1">
          Entry-Level
        </a>
        <a class="ig-typography__body-2 content_1">
          Advanced
        </a>
        <a class="ig-typography__body-2 content_1">
          Flagship
        </a>
        <a class="ig-typography__body-2 content_1">
          Immersive
        </a>
        <a class="ig-typography__body-2 content_1">
          Cinematic
        </a>
      </div>
      <div class="column-layout company-info-column">
        <p class="ig-typography__subtitle-2 content">
          Support
        </p>
        <a class="ig-typography__body-2 content_1">
          Maintenance Services
        </a>
        <a class="ig-typography__body-2 content_1">
          FAQ
        </a>
      </div>
      <div class="column-layout company-info-column">
        <p class="ig-typography__subtitle-2 content">
          Contact Us
        </p>
        <div class="row-layout email-row">
          <igx-icon class="mail-icon">
            mail_outline
          </igx-icon>
          <a class="ig-typography__body-2 customer-support-link">
            Customer Support
          </a>
        </div>
        <div class="row-layout email-row">
          <igx-icon class="mail-icon">
            phone
          </igx-icon>
          <p class="ig-typography__body-2 content_1">
            +598 99 123 456
          </p>
        </div>
        <div class="row-layout email-row">
          <igx-icon class="mail-icon">
            business
          </igx-icon>
          <p class="ig-typography__body-2 content_1">
            1234 Drone Way, UAV City, USA
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row-layout copyright-row">
    <p class="ig-typography__body-2 content_1">
      © 2025 DJI Drones - All Rights Reserved
    </p>
  </div>
</div>
