

/* You can add global styles to this file, and also import other style files */
// Standard CSS normalize, comment out if not required or using a different module
@use "minireset.css/minireset";
@use "igniteui-angular/theming" as *;

@include core();
@include typography($font-family: "Roboto");

$custom-palette: palette(
  $primary: #3F51B5,
  $secondary: #009688,
  $surface: #F5F7FA,
  $error: #D32F2F,
  $success: #388E3C,
  $warn: #FBC02D,
  $info: #1976D2);
@include theme($palette: $custom-palette, $schema: $light-material-schema, $roundness: 0.5);

body {
  background: var(--ig-surface-500);
  color: var(--ig-surface-500-contrast);
  --ig-size: var(--ig-size-medium);
}

html, body {
  height: 100%;
}

.ig-typography {
  h1, h2, h3, h4, h5, h6, p, .ig-typography__body-1 {
    margin: 0;
  }
}

.outer-wrapper > *:not(router-outlet) {
  width: 100%;
}

.imx-icon {
  -webkit-mask-size: auto;
}
